<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<!-- <include resource="org/springframework/boot/logging/logback/base.xml"
		/> -->

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <charset>UTF-8</charset> -->
			<pattern>%d{HH:mm:ss.SSS} %-5level | (%file:%line\) - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="jdbc" level="off" />
	<logger name="jdbc.sqltiming" level="info" />
	<logger name="org.springframework" level="info" />
	<logger name="org.thymeleaf" level="error" />
	<logger name="com.mitsubishi" level="info" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
