<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>従業員ジョブ歴史マスタ管理</title>
<meta
	content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
	name='viewport' />

<meta th:replace="head-cssjs" />

<style class="init">
<!--
.checkbox label, .radio label {
	padding-right: 10px;
}

html, body {
	overflow: hidden;
}

.fieldError {
	border-color: #dd4b39;
}

/* Ensure that the demo table scrolls */
th, td {
	white-space: nowrap;
}

div.dataTables_wrapper {
	margin: 0 auto;
}
-->
</style>

</head>
<body class="skin-blue">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>従業員ジョブ歴史</h1>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<form id="deptSearchForm" th:object="${deptSearchForm}"
							method="post" class="form-horizontal">
							<div th:if="${sysErrMsg} != null" class="col-md-4"></div>
							<div th:if="${sysErrMsg} != null"
								class="calloutcustomized callout-danger col-md-8"
								style="margin-top: -28px;">
								<p th:text="${sysErrMsg}"></p>
							</div>
							<div id="maincontent" class="box box-primary"
								style="overflow-y: auto; overflow-x: hidden;">
								<div class="box-body">
									<div class="form-group">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<table class="table-condensed"
														style="border: 0; margin: 0; cellSpacing: 0; cellPadding: 0;">
														<tr>
															<td class="col-md-2"><button type="button"
																	id="goRegist" value="goRegist" class="btn btn-primary"
																	style="width: 150px"
																	th:onclick="'javascript:location.href='+'\''+@{/menu}+'\''">メニューへ</button></td>
															<td class="col-md-2"></td>
															<td class="col-md-2"></td>
															<td class="col-md-2"></td>
															<td class="col-md-2"></td>
															<td class="col-md-2">
																<button type="button" id="goRegist" value="goRegist"
																	class="btn btn-primary" style="width: 150px"
																	th:onclick="'javascript:location.href='+'\''+@{/authorization/person/goRegist}+'\''">新規</button>
															</td>
														</tr>
													</table>
												</div>
											</div>

											<div class="box box-success"
												th:attrappend="style=${page == null ? 'display: none;' : ''}">
												<div class="col-md-12" style="width: 99%;">
													<table id="searchResult"
														class="table table-condensed table-striped table-hover">
														<thead>
															<tr>
																<th>No.</th>
																<th>従業員番号</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="content, iterStat : ${page}">
																<td th:id="${iterStat.index}"
																	th:name="${iterStat.index}"
																	th:value="${iterStat.index}"
																	th:text="${iterStat.index} + 1"></td>
																<td><a
																	th:href="@{/authorization/person/goUpdate/}+${content.personNum}"><span
																		th:id="'page['+${iterStat.index}+'].personNum'"
																		th:name="'page['+${iterStat.index}+'].personNum'"
																		th:value="${content.personNum}"
																		th:text="${content.personNum}"></span></a></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<div th:replace="bottom-js"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {

			var table = $('#searchResult').DataTable({
				scrollY : "390px",
				scrollX : true,
				scrollCollapse : true,
				paging : false,
				searching : false,
			});

			new $.fn.dataTable.FixedColumns(table, {
				leftColumns : 0
			});

		});
		/*]]>*/
	</script>
</body>
</html>
