<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>キャリア情報入力画面</title>
<meta
	content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
	name='viewport' />

<meta th:replace="head-cssjs" />

<style class="init">
<!--
.checkbox label, .radio label {
	padding-right: 10px;
}

html, body {

}

.fieldError {
	border-color: #dd4b39;
}

/* Ensure that the demo table scrolls */
th, td {
	white-space: nowrap;
}

div.dataTables_wrapper {
	margin: 0 auto;
}

.col-md-4 {
	width: 30%;
}

.job-table .wl-10 {
	background-color: #a9cfef;
}

.job-table, .job-table-data {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #666;
}

.job-table li, .job-table-data li {
	float: left;
	width: 13%;
	padding: 5px 0.5%;
	height: 32px;
	overflow: hidden;
	line-height: 25px;
}

.job-table li.wl-10, .job-table-data li.wl-10 {
	border-right: 1px solid #666;
}

.job-table-data {
	border-top: none;
}

.wl-15 {
	width: 15%;
}

.career-area {
	padding: 30px;
	border: 1px solid;
	border-top: none;
}

.career-area .add, .career-area .delete {
	display: inline-block;
	padding: 5px;
	border: 1px solid #218807;
	cursor: pointer;
}

.none {
	display: none;
}

.form-control {
	padding: 6px 2px;
}
-->
</style>

</head>
<body class="skin-blue">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>キャリア情報入力画面</h1>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<form id="personCareerForm" th:object="${personCareerForm}"
							method="post" class="form-horizontal">
							<div th:if="${sysErrMsg} != null" class="col-md-4"></div>
							<div th:if="${sysErrMsg} != null"
								class="calloutcustomized callout-danger col-md-8"
								style="margin-top: -28px;">
								<p th:text="${sysErrMsg}"></p>
							</div>
							<div id="maincontent" class="box box-primary"
								style="overflow-y: auto; overflow-x: hidden;">
								<div class="box-body">
									<div class="form-group">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<table class="table-condensed"
														style="border: 0; margin: 0; cellSpacing: 0; cellPadding: 0; width: 100%;">
														<tr>
															<td class="col-md-2" rowspan="4"><img alt=""
																th:src="*{personTableForm.photo}" height="160" width="120"></img></td>
															<td class="col-md-10" colspan="5">
																<table class="table-condensed"
																	style="border: 0; margin: 0; cellSpacing: 0; cellPadding: 0; width: 100%;">
																	<tr>
																		<td class="col-md-2">従業員番号</td>
																		<td class="col-md-4"
																			th:text="*{personTableForm.personNum}"></td>
																		<td class="col-md-2">氏名</td>
																		<td class="col-md-4" th:text="*{personTableForm.name}"></td>
																		<td class="col-md-2"><input type="hidden"
																			id="personNum"
																			th:field="*{personTableForm.personNum}" /></td>
																	</tr>
																	<tr>
																		<td class="col-md-2">所属</td>
																		<td class="col-md-4"
																			th:text="*{personTableForm.department}"></td>
																		<td class="col-md-2">役職</td>
																		<td class="col-md-4" th:text="*{personTableForm.job}"></td>
																		<td class="col-md-2"></td>
																	</tr>
																	<tr>
																		<td class="col-md-2">キャリアバンド</td>
																		<td class="col-md-4"
																			th:text="*{personTableForm.grade}"></td>
																		<td class="col-md-2">職責</td>
																		<td class="col-md-4"
																			th:text="*{personTableForm.gradeStep}"></td>
																		<td class="col-md-2"></td>
																	</tr>
																	<tr>
																		<td class="col-md-2">勤務地</td>
																		<td class="col-md-4"
																			th:text="*{personTableForm.location}"></td>
																		<td class="col-md-2"></td>
																		<td class="col-md-4"></td>
																		<td class="col-md-2"></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
													<table class="table-condensed"
														style="border: 0; margin: 0; width: 100%;">

														<!-- 所属異動歴 -->
														<tr>
															<td class="col-md-12" colspan="6">所属異動歴</td>
														</tr>

													</table>

													<!-- loop1  主務  or 兼務-->
													<div>
														<div class="col-md-1">主務</div>
														<div class="col-md-11">


															<!-- loop2  header-->
															<ul class="job-table clearfix"
																style="margin: 0; width: 100%;">

																<li class="wl-10">発令日</li>
																<li class="wl-10">異動区分</li>
																<li class="wl-10">異動理由</li>
																<li class="wl-10">所属</li>
																<li class="wl-10">役職</li>
																<li class="wl-10">勤務地</li>
																<li class="wl-15"><a href="javascript:void(0)"
																	class="expand" th:attrappend="style=*{personCareerDataSyumuHistoryList == null ? 'display: none;' : ''}">広げる</a></li>

															</ul>




															<!-- loop2  data-->
															<div class="first" th:attrappend="style=*{personCareerDataSyumuHeader == null ? 'display: none;' : ''}">
																<ul class="job-table-data clearfix"
																	style="margin: 0; width: 100%;">

																	<li class="wl-10"
																		th:text="*{personCareerDataSyumuHeader.effectiveDate}!=null?*{#dates.format(personCareerDataSyumuHeader.effectiveDate,'yyyy/MM/dd')}:''"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataSyumuHeader.actionName}"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataSyumuHeader.actionReasonName}"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataSyumuHeader.department}"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataSyumuHeader.job}"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataSyumuHeader.location}"></li>


																	<li class="wl-15"></li>

																</ul>
																<div class="career-area">

																	<table class="table-condensed"
																		style="border: 0; margin: 0; width: 100%;">


																		<!-- loop3  header-->
																		<tr>
																			<td class="col-md-1">開始年月</td>
																			<td class="col-md-1">終了年月</td>
																			<td class="col-md-1">担当商品</td>
																			<td class="col-md-1">担当商品詳細</td>
																			<td class="col-md-1">担当機能</td>
																			<td class="col-md-1">担当機能詳細</td>
																			<td class="col-md-1">勤務地</td>
																			<td class="col-md-1">更新日時</td>
																			<td class="col-md-1">更新ユーザー</td>
																			<td class="col-md-1"></td>
																		</tr>


																		<!-- loop3  data-->
																		<tr class="career-data-item"
																			th:each="content, iterStat : *{personCareerDataSyumuDetailList}">
																			<input type="hidden"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].personNum'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].personNum'"
																				th:value="${content.personNum}" />
																			<input type="hidden"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].appointment'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].appointment'"
																				th:value="${content.appointment}" />
																			<input type="hidden"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].effectiveDate'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].effectiveDate'"
																				th:value="${content.effectiveDate}" />
																			<td class="col-md-1"><input type="text"
																				class="form-control needreset"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].startDateString'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].startDateString'"
																				th:value="${content.startDateString}" maxlength="20" /></td>
																			<td class="col-md-1"><input type="text"
																				class="form-control needreset"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].endDateString'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].endDateString'"
																				th:value="${content.endDateString}" maxlength="20" /></td>
																			<td class="col-md-1"><input type="hidden"
																				id="group1" name="group1"
																				th:value="*{personCareerDataSyumuHeader.group1}" />
																				<select class="form-control SelectProduct"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].product'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].product'"
																				th:value="${content.product}">
																					<option th:each="conf : ${content.seleteProduct}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.product}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].productDetail'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].productDetail'"
																				th:value="${content.productDetail}">
																					<option
																						th:each="conf : ${content.seleteProductDetail}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.productDetail}"></option>
																			</select></td>
																			<td class="col-md-1"><input type="hidden"
																				id="group1" name="group1"
																				th:value="*{personCareerDataSyumuHeader.group1}" /><select
																				class="form-control SelectFunction"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].function'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].function'"
																				th:value="${content.function}">
																					<option th:each="conf : ${content.seleteFunction}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.function}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].functionDetail'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].functionDetail'"
																				th:value="${content.functionDetail}">
																					<option
																						th:each="conf : ${content.seleteFunctionDetail}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.functionDetail}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].location'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].location'"
																				th:value="${content.location}">
																					<option th:each="conf : ${content.seleteLocation}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.location}"></option>
																			</select></td>
																			<td class="col-md-1"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].addUpdateDatetime'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].addUpdateDatetime'"
																				th:value="${content.addUpdateDatetime}"
																				th:text="${content.addUpdateDatetime}!=null?${#dates.format(content.addUpdateDatetime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
																			<td class="col-md-1"
																				th:id="'personCareerDataSyumuDetailList['+${iterStat.index}+'].userId'"
																				th:name="'personCareerDataSyumuDetailList['+${iterStat.index}+'].userId'"
																				th:value="${content.userId}"
																				th:text="${content.userId}"></td>
																			<td><a href="javascript:void(0)" class="add">+</a>
																				<span class="delete">-</span></td>
																		</tr>
																		<!-- end loop3 -->

																	</table>

																</div>
															</div>
															<!-- end loop2 data -->


															<!-- loop2  data-->
															<div
																th:if="*{personCareerDataSyumuHistoryList != null}"
																th:each="contentAll, iterStatAll : *{personCareerDataSyumuHistoryList}" 

																class="none">
																<ul class="job-table-data clearfix"
																	style="margin: 0; width: 100%;">

																	<li class="wl-10"
																		th:text="${contentAll.personJobHistoryTableExt.effectiveDate}!=null?${#dates.format(contentAll.personJobHistoryTableExt.effectiveDate,'yyyy/MM/dd')}:''"></li>
																	<li class="wl-10"
																		th:text="${contentAll.personJobHistoryTableExt.actionName}"></li>
																	<li class="wl-10"
																		th:text="${contentAll.personJobHistoryTableExt.actionReasonName}"></li>
																	<li class="wl-10"
																		th:text="${contentAll.personJobHistoryTableExt.department}"></li>
																	<li class="wl-10"
																		th:text="${contentAll.personJobHistoryTableExt.job}"></li>
																	<li class="wl-10"
																		th:text="${contentAll.personJobHistoryTableExt.location}"></li>

																	<li class="wl-15"></li>

																</ul>
																<div class="career-area">

																	<table class="table-condensed"
																		style="border: 0; margin: 0; width: 100%;">
																		<tr>
																			<td class="col-md-1">開始年月</td>
																			<td class="col-md-1">終了年月</td>
																			<td class="col-md-1">担当商品</td>
																			<td class="col-md-1">担当商品詳細</td>
																			<td class="col-md-1">担当機能</td>
																			<td class="col-md-1">担当機能詳細</td>
																			<td class="col-md-1">勤務地</td>
																			<td class="col-md-1">更新日時</td>
																			<td class="col-md-1">更新ユーザー</td>
																			<td class="col-md-1"></td>
																		</tr>
																		<tr class="career-data-item"
																			th:each="content, iterStat : ${contentAll.personCareerDataExtHistoryList}">

																			<td class="col-md-1"><input type="hidden"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].personNum'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].personNum'"
																				th:value="${content.personNum}" /> <input
																				type="hidden"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].appointment'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].appointment'"
																				th:value="${content.appointment}" /> <input
																				type="hidden"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].effectiveDate'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].effectiveDate'"
																				th:value="${content.effectiveDate}" /> <input
																				type="text" class="form-control needreset"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].startDateString'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].startDateString'"
																				th:value="${content.startDateString}" maxlength="20" /></td>
																			<td class="col-md-1"><input type="text"
																				class="form-control needreset"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].endDateString'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].endDateString'"
																				th:value="${content.endDateString}" maxlength="20" /></td>
																			<td class="col-md-1"><input type="hidden"
																				id="group1" name="group1"
																				th:value="${contentAll.personJobHistoryTableExt.group1}" /><select
																				class="form-control SelectProduct"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].product'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].product'"
																				th:value="${content.product}">
																					<option th:each="conf : ${content.seleteProduct}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.product}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].productDetail'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].productDetail'"
																				th:value="${content.productDetail}">
																					<option
																						th:each="conf : ${content.seleteProductDetail}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.productDetail}"></option>
																			</select></td>
																			<td class="col-md-1"><input type="hidden"
																				id="group1" name="group1"
																				th:value="${contentAll.personJobHistoryTableExt.group1}" /><select
																				class="form-control SelectFunction"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].function'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].function'"
																				th:value="${content.function}">
																					<option th:each="conf : ${content.seleteFunction}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.function}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].functionDetail'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].functionDetail'"
																				th:value="${content.functionDetail}">
																					<option
																						th:each="conf : ${content.seleteFunctionDetail}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.functionDetail}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].location'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].location'"
																				th:value="${content.location}">
																					<option th:each="conf : ${content.seleteLocation}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.location}"></option>
																			</select></td>
																			<td class="col-md-1"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].addUpdateDatetime'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].addUpdateDatetime'"
																				th:value="${content.addUpdateDatetime}"
																				th:text="${content.addUpdateDatetime}!=null?${#dates.format(content.addUpdateDatetime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
																			<td class="col-md-1"
																				th:id="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].userId'"
																				th:name="'personCareerDataSyumuHistoryList['+${iterStatAll.index}+'].personCareerDataExtHistoryList['+${iterStat.index}+'].userId'"
																				th:value="${content.userId}"
																				th:text="${content.userId}"></td>


																			<td><a href="javascript:void(0)" class="add">+</a>
																				<span class="delete">-</span></td>
																		</tr>


																	</table>

																</div>
															</div>
															<!-- end loop2 data -->


														</div>
													</div>


													<!-- end loop1 -->



													<!-- kennmu -->

													<div
														th:attrappend="style=*{personCareerDataKenmuHeader == null ? 'display: none;' : ''}">
														<div class="col-md-1">兼務</div>
														<div class="col-md-11">


															<!-- loop2  header-->
															<ul class="job-table clearfix"
																style="margin: 0; width: 100%;">

																<li class="wl-10">発令日</li>
																<li class="wl-10">異動区分</li>
																<li class="wl-10">異動理由</li>
																<li class="wl-10">所属</li>
																<li class="wl-10">役職</li>
																<li class="wl-10">勤務地</li>
																<li class="wl-15"></li>

															</ul>




															<!-- loop2  data-->
															<div class="first">
																<ul class="job-table-data clearfix"
																	style="margin: 0; width: 100%;">

																	<li class="wl-10"
																		th:text="*{personCareerDataKenmuHeader}!=null?(*{personCareerDataKenmuHeader.effectiveDate}!=null?*{#dates.format(personCareerDataKenmuHeader.effectiveDate,'yyyy/MM/dd')}:''):''"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataKenmuHeader}!=null?(*{personCareerDataKenmuHeader.actionName}):''"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataKenmuHeader}!=null?(*{personCareerDataKenmuHeader.actionReasonName}):''"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataKenmuHeader}!=null?(*{personCareerDataKenmuHeader.department}):''"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataKenmuHeader}!=null?(*{personCareerDataKenmuHeader.job}):''"></li>
																	<li class="wl-10"
																		th:text="*{personCareerDataKenmuHeader}!=null?(*{personCareerDataKenmuHeader.location}):''"></li>


																	<li class="wl-15"></li>

																</ul>
																<div class="career-area">

																	<table class="table-condensed"
																		style="border: 0; margin: 0; width: 100%;">


																		<!-- loop3  header-->
																		<tr>
																			<td class="col-md-1">開始年月</td>
																			<td class="col-md-1">終了年月</td>
																			<td class="col-md-1">担当商品</td>
																			<td class="col-md-1">担当商品詳細</td>
																			<td class="col-md-1">担当機能</td>
																			<td class="col-md-1">担当機能詳細</td>
																			<td class="col-md-1">勤務地</td>
																			<td class="col-md-1">更新日時</td>
																			<td class="col-md-1">更新ユーザー</td>
																			<td class="col-md-1"></td>
																		</tr>


																		<!-- loop3  data-->
																		<tr class="career-data-item"
																			th:each="content, iterStat : *{personCareerDataKenmuDetailList}">
																			<td class="col-md-1"><input type="hidden"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].personNum'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].personNum'"
																				th:value="${content.personNum}" /> <input
																				type="hidden"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].appointment'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].appointment'"
																				th:value="${content.appointment}" /> <input
																				type="hidden"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].effectiveDate'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].effectiveDate'"
																				th:value="${content.effectiveDate}" /><input
																				type="text" class="form-control needreset"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].startDateString'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].startDateString'"
																				th:value="${content.startDateString}" maxlength="20" /></td>
																			<td class="col-md-1"><input type="text"
																				class="form-control needreset"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].endDateString'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].endDateString'"
																				th:value="${content.endDateString}" maxlength="20" /></td>
																			<td class="col-md-1"><input type="hidden"
																				id="group1" name="group1"
																				th:value="*{personCareerDataKenmuHeader}!=null?(*{personCareerDataKenmuHeader.group1}):''" /><select
																				class="form-control SelectProduct"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].product'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].product'"
																				th:value="${content.product}">
																					<option th:each="conf : ${content.seleteProduct}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.product}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].productDetail'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].productDetail'"
																				th:value="${content.productDetail}">
																					<option
																						th:each="conf : ${content.seleteProductDetail}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.productDetail}"></option>
																			</select></td>
																			<td class="col-md-1"><input type="hidden"
																				id="group1" name="group1"
																				th:value="*{personCareerDataKenmuHeader}!=null?(*{personCareerDataKenmuHeader.group1}):''" /><select
																				class="form-control SelectFunction"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].function'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].function'"
																				th:value="${content.function}">
																					<option th:each="conf : ${content.seleteFunction}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.function}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].functionDetail'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].functionDetail'"
																				th:value="${content.functionDetail}">
																					<option
																						th:each="conf : ${content.seleteFunctionDetail}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.functionDetail}"></option>
																			</select></td>
																			<td class="col-md-1"><select
																				class="form-control"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].location'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].location'"
																				th:value="${content.location}">
																					<option th:each="conf : ${content.seleteLocation}"
																						th:value="${conf.code}" th:text="${conf.name}"
																						th:selected="${conf.code} == ${content.location}"></option>
																			</select></td>
																			<td class="col-md-1"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].addUpdateDatetime'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].addUpdateDatetime'"
																				th:value="${content.addUpdateDatetime}"
																				th:text="${content.addUpdateDatetime}!=null?${#dates.format(content.addUpdateDatetime,'yyyy/MM/dd HH:mm:ss')}:''"></td>
																			<td class="col-md-1"
																				th:id="'personCareerDataKenmuDetailList['+${iterStat.index}+'].userId'"
																				th:name="'personCareerDataKenmuDetailList['+${iterStat.index}+'].userId'"
																				th:value="${content.userId}"
																				th:text="${content.userId}"></td>
																			<td><a href="javascript:void(0)" class="add">+</a>
																				<span class="delete">-</span></td>
																		</tr>
																		<!-- end loop3 -->

																	</table>

																</div>
															</div>
															<!-- end loop2 data -->

														</div>
													</div>
													<!-- end kennmu -->
												</div>
											</div>
										</div>


										<div class="row">
											<div class="col-md-12">
												<table class="table-condensed"
													style="border: 0; margin: 0; cellSpacing: 0; cellPadding: 0;">
													<tr>
														<td class="col-md-8" colspan="4"></td>
														<td class="col-md-2">
															<button id="doRegist" type="button"
																class="btn btn-primary" th:style="${doRegistButtonCss}">登録</button>
														</td>
														<td class="col-md-2">
															<button type="button" id="goIndex"
																class="btn btn-primary" style="width: 150px">ｷｬﾝｾﾙ</button>
														</td>
														<td class="col-md-2">
															<button id="doRegist_test" type="button"
																class="btn btn-primary" th:style="${doRegistButtonCss}">登録NoCheck</button>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<div th:replace="bottom-js"></div>

	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(
		function() {

			var $career_area = $(".career-area");
			var $main = $(".job-table");

			function resetIndex($career_area2){
				var tr=$career_area2.find('.career-data-item');
				$.each(tr,function(i){
					var subsets=tr.eq(i).find('input,select');
					$.each(subsets,function(j){
						var name = subsets.eq(j).attr('name');
						var newName = name.replace(/(.*)\[\w+\]/, "$1["+i+"]");
						//debugger
						subsets.eq(j).attr('name',newName).attr('id',newName);

					});



				});
			}

			function isDate(dateString){
		          if(dateString.trim()=="")return false;
		          //年月日正则表达式
		          var r=dateString.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/);
		          if(r==null){

		             return false;
		          }
		          var d=new Date(r[1],r[3]-1,r[4]);
		          var num = (d.getFullYear()==r[1]&&(d.getMonth()+1)==r[3]&&d.getDate()==r[4]);
		          if(num==0){
		            return false;
		          }
		          return true;

		        };

			$career_area.on("click","a.add",function(e){
				var item = $(this).parents('.career-data-item');
				var newElem=item[0].cloneNode(true);
				$(newElem).find(".needreset").val("");
				item.after(newElem);
				resetIndex($(this).parents(".career-area"));

			});
			$career_area.on("click",".delete",function(e){
				var parent = $(this).parents(".career-area");
				$(this).parents('.career-data-item').remove();
				resetIndex(parent);

			});

			$main.on("click",".expand",function(e){
				$(this).parents('.col-md-11').find(".none").removeClass("none").addClass("others");
				$(this).removeClass("expand").addClass("closeothers").text("閉じる");

			});

			$main.on("click",".closeothers",function(e){
				$(this).parents('.col-md-11').find(".others").removeClass("others").addClass("none");
				$(this).removeClass("closeothers").addClass("expand").text("広げる");

			});

			$('#personCareerForm').focus();

			$('#goIndex').bind(
					'click',
					function() {
						location.href = /*[[@{/authorization/person/goIndex/1}]]*/;
						$('#goIndex').prop('disabled', true);
					});


			$('#doRegist_test').bind(
					'click',
					function() {
						// if (confirm("登録してよろしいですか？")) {
							$('#personCareerForm').attr("action",
								/*[[@{/authorization/personcareer/doRegist}]]*/);
							$('#personCareerForm').submit();
							$('#doRegist').prop('disabled', true);
						// }else{
							// doNothing
						// }
					});

			$career_area.on('change', '.SelectProduct', function(){
				var key1 = $(this).parent().find('#group1').val();
				var key2 = $(this).val();
				var nextElement = $(this).parent().next().find('select');
				nextElement.find('option').remove();

				var url = /*[[@{/authorization/ajax/product/detail/}]]*/;
				url = url + key1;
				url = url + '/' + key2;
				$.getJSON( url, function( data ) {
					$.each( data, function( key, val ) {
						if("data" == key){
							for (var j in val) {
								var zokusei = {value: val[j].code, text:val[j].name};  //属性を生成
								var yoso = $('<option>', zokusei);
						 		nextElement.append(yoso);
							}
						}
					});
				});
			});

			$career_area.on('change', '.SelectFunction', function(){
				var key1 = $(this).parent().find('#group1').val();
				var key2 = $(this).val();
				var nextElement = $(this).parent().next().find('select');
				nextElement.find('option').remove();

				var url = /*[[@{/authorization/ajax/function/detail/}]]*/;
				url = url + key1;
				url = url + '/' + key2;
				$.getJSON( url, function( data ) {
					$.each( data, function( key, val ) {
						if("data" == key){
							for (var j in val) {
								var zokusei = {value: val[j].code, text:val[j].name};  //属性を生成
								var yoso = $('<option>', zokusei);
						 		nextElement.append(yoso);
							}
						}
					});
				});
			});

			$('#doRegist_test').bind(
					'click',
					function() {

						// if (confirm("登録してよろしいですか？")) {
							$('#personCareerForm').attr("action",
								/*[[@{/authorization/personcareer/doRegist}]]*/);
							$('#personCareerForm').submit();
							$('#doRegist').prop('disabled', true);
						// }else{
							// doNothing
						// }
					});

			$('#doRegist').bind(
					'click',
					function() {
						var startdata = $(".career-area").find(".needreset");
						var nalert = 0;
						var nalert_format = 0;
						$.each(startdata,function(j){
							var value = startdata.eq(j).val();
							if(value=="" || value==null){
								nalert = 1;
							}
							if(!isDate(value)){
								nalert_format = 1;
							}

						});
						if(nalert){
							alert("開始年月と終了年月は必須項目です");
							return false;
						}
						if(nalert_format){
							alert("開始年月と終了年月は正しい形式で入力してください");
							return false;
						}
						// if (confirm("登録してよろしいですか？")) {
							$('#personCareerForm').attr("action",
								/*[[@{/authorization/personcareer/doRegist}]]*/);
							$('#personCareerForm').submit();
							$('#doRegist').prop('disabled', true);
						// }else{
							// doNothing
						// }
					});

	});
		/*]]>*/
	</script>
</body>
</html>
