<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>キャリア情報入力画面</title>
<meta
	content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
	name='viewport' />

<meta th:replace="head-cssjs" />

<style class="init">
<!--
.checkbox label, .radio label {
	padding-right: 10px;
}


.fieldError {
	border-color: #dd4b39;
}

/* Ensure that the demo table scrolls */
th, td {
	white-space: nowrap;
}

div.dataTables_wrapper {
	margin: 0 auto;
}
.col-md-4{
	width:30%;
}
.job-table .wl-10{
	background-color: #a9cfef;
	
}
.job-table ,.job-table-data{
	margin: 0;
    padding: 0;
	list-style: none;
	border:1px solid #666;
}
.job-table li ,.job-table-data li{
	
	float:left;
	width: 13%;
	padding: 0.5%;
}
.job-table li.wl-10 ,.job-table-data li.wl-10{
	border-right:1px solid #666;
}
.job-table-data{
	border-top:none;
}
.wl-15{
	width:15%;
}

.career-area{
    padding: 30px;
    border: 1px solid;
    border-top: none;
}
.career-area .add,.career-area .delete{
	display:inline-block;
	padding:5px;
	border: 1px solid #218807;
    cursor: pointer;
}
-->
</style>

</head>
<body class="skin-blue">
	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>キャリア情報入力画面</h1>
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<form id="personTableForm" th:object="${personTableForm}"
							method="post" class="form-horizontal">
							<div th:if="${sysErrMsg} != null" class="col-md-4"></div>
							<div th:if="${sysErrMsg} != null"
								class="calloutcustomized callout-danger col-md-8"
								style="margin-top: -28px;">
								<p th:text="${sysErrMsg}"></p>
							</div>
							<div id="maincontent" class="box box-primary"
								style="overflow-y: auto; overflow-x: hidden;">
								<div class="box-body">
									<div class="form-group">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<table class="table-condensed"
														style="border: 0; margin: 0; cellSpacing: 0; cellPadding: 0;width: 100%;">
														<tr>
															<td class="col-md-2" rowspan="4"><img alt=""
																th:src="@{/images/taro_picture.png}"></img></td>
															<td class="col-md-10" colspan="5">
																<table class="table-condensed"
																	style="border: 0; margin: 0; cellSpacing: 0; cellPadding: 0;width: 100%;">
																	<tr>
																		<td class="col-md-2">従業員番号</td>
																		<td class="col-md-4" ></td>
																		<td class="col-md-2">氏名</td>
																		<td class="col-md-4" ></td>
																		<td class="col-md-2"></td>
																	</tr>
																	<tr>
																		<td class="col-md-2">所属</td>
																		<td class="col-md-4" ></td>
																		<td class="col-md-2">役職</td>
																		<td class="col-md-4" ></td>
																		<td class="col-md-2"></td>
																	</tr>
																	<tr>
																		<td class="col-md-2">キャリアバンド</td>
																		<td class="col-md-4" ></td>
																		<td class="col-md-2">職責</td>
																		<td class="col-md-4" ></td>
																		<td class="col-md-2"></td>
																	</tr>
																	<tr>
																		<td class="col-md-2">勤務地</td>
																		<td class="col-md-4" ></td>
																		<td class="col-md-2"></td>
																		<td class="col-md-4"></td>
																		<td class="col-md-2"></td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
													<table class="table-condensed"
														style="border: 0; margin: 0; width: 100%;">
														
														<!-- 所属異動歴 -->
														<tr>
															<td class="col-md-12" colspan="6">所属異動歴</td>
														</tr>
														
													</table>
													
													<!-- loop1  主務  or 兼務-->
													<div>
															<div class="col-md-1" >主務</div>
															<div class="col-md-11">
															
															
																<!-- loop2  header-->
																<ul class="job-table clearfix"
																	style="margin: 0; width: 100%;">

																		<li class="wl-10">発令日</li>
																		<li class="wl-10">異動区分</li>
																		<li class="wl-10">異動理由</li>
																		<li class="wl-10">所属</li>
																		<li class="wl-10">役職</li>
																		<li class="wl-10">勤務地</li>
																		<li class="wl-15">広げる</li>
		
																</ul>
																
																
																
																
																<!-- loop2  data-->
																<div class="first">
																	<ul class="job-table-data clearfix"
																		style="margin: 0;width: 100%;">																	
																			<li class="wl-10">2010/4/1</li>
																			<li class="wl-10">昇格</li>
																			<li class="wl-10">NNNNNNN</li>
																			<li class="wl-10">NNNNNNNNNNNNNNNNNNNNN</li>
																			<li class="wl-10">主任</li>
																			<li class="wl-10">東京</li>
																			<li class="wl-15"></li>
																		
																	</ul>
																	<div class="career-area">
																			
																			<table class="table-condensed"
																				style="border: 0; margin: 0; width: 100%;">
																				
																				
																				<!-- loop3  header-->
																				<tr>
																					<td class="col-md-1">開始年月</td>
																					<td class="col-md-1">終了年月</td>
																					<td class="col-md-1">担当商品</td>
																					<td class="col-md-1">担当商品詳細</td>
																					<td class="col-md-1">担当機能</td>
																					<td class="col-md-1">担当機能詳細</td>
																					<td class="col-md-1">勤務地</td>
																					<td class="col-md-1">更新日時</td>
																					<td class="col-md-1">更新ユーザー</td>
																					<td class="col-md-1"> </td>
																				</tr>
																				
																				
																				<!-- loop3  data-->
																				<tr class="career-data-item">
																					<td class="col-md-1"><input type="text"
																	class="form-control" id="name" th:field="*{name}"
																	maxlength="20" /></td>
																					<td class="col-md-1"><input type="text"
																	class="form-control" id="name" th:field="*{name}"
																	maxlength="20" /></td>
																					<td class="col-md-1"><select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1">
																						<select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1">
																						<select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1">
																						<select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1">
																						<select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1"><input type="text"
																	class="form-control" id="name" th:field="*{name}"
																	maxlength="20" /></td>
																					<td class="col-md-1"><input type="text"
																	class="form-control" id="name" th:field="*{name}"
																	maxlength="20" /></td>
																					<td><a href="javascript:void(0)" class="add">+</a> <span class="delete">-</span></td></tr>
																					<!-- end loop3 -->
																					
																			</table>
																				
																	</div>
																</div>
																<!-- end loop2 data -->
																
																
																<!-- loop2  data-->
																<div class="second">
																	<ul class="job-table-data clearfix"
																		style="margin: 0;width: 100%;">
																	
																		
																			<li class="wl-10">2010/4/1</li>
																			<li class="wl-10">昇格</li>
																			<li class="wl-10">NNNNNNN</li>
																			<li class="wl-10">NNNNNNNNNNNNNNNNNNNNN</li>
																			<li class="wl-10">主任</li>
																			<li class="wl-10">東京</li>
																			<li class="wl-15"></li>
																		
																	</ul>
																	<div class="career-area">
																			
																			<table class="table-condensed"
																				style="border: 0; margin: 0; width: 100%;">
																				<tr>
																					<td class="col-md-1">開始年月</td>
																					<td class="col-md-1">終了年月</td>
																					<td class="col-md-1">担当商品</td>
																					<td class="col-md-1">担当商品詳細</td>
																					<td class="col-md-1">担当機能</td>
																					<td class="col-md-1">担当機能詳細</td>
																					<td class="col-md-1">勤務地</td>
																					<td class="col-md-1">更新日時</td>
																					<td class="col-md-1">更新ユーザー</td>
																					<td class="col-md-1"> </td>
																				</tr>
																				<tr class="career-data-item">
																					<td class="col-md-1"><input type="text"
																	class="form-control" id="name" th:field="*{name}"
																	maxlength="20" /></td>
																					<td class="col-md-1"><input type="text"
																	class="form-control" id="name" th:field="*{name}"
																	maxlength="20" /></td>
																					<td class="col-md-1"><select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1">
																						<select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1">
																						<select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1">
																						<select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1">
																						<select>
																						  <option value="volvo">Volvo</option>
																						  <option value="saab">Saab</option>
																						  <option value="mercedes">Mercedes</option>
																						  <option value="audi">Audi</option>
																						</select></td>
																					<td class="col-md-1"><input type="text"
																	class="form-control" id="name" th:field="*{name}"
																	maxlength="20" /></td>
																					<td class="col-md-1"><input type="text"
																	class="form-control" id="name" th:field="*{name}"
																	maxlength="20" /></td>
																					<td><a href="javascript:void(0)" class="add">+</a> <span class="delete">-</span></td></tr>
																		
	
																			</table>
																				
																	</div>
																</div>
																<!-- end loop2 data -->
																
																
															</div>
													</div>
													
													
													<!-- end loop1 -->
												</div>
											</div>
										</div>
									
									
										<div class="row">
											<div class="col-md-12">
												<table class="table-condensed"
													style="border: 0; margin: 0; cellSpacing: 0; cellPadding: 0;">
													<tr>
														<td class="col-md-8" colspan="4"></td>
														<td class="col-md-2">
															<button id="doRegist" type="button"
																class="btn btn-primary" th:style="${doRegistButtonCss}">登録</button>
														</td>
														<td class="col-md-2">
															<button type="button" id="goIndex"
																class="btn btn-primary" style="width: 150px">ｷｬﾝｾﾙ</button>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<div th:replace="bottom-js"></div>

	<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(
		function() {
			var $career_area = $(".career-area");
			
			$career_area.on("click","a.add",function(e){
				var item = $(this).parents('.career-data-item');
				var newElem=item[0].cloneNode(true);
				item.after(newElem);
	//			resetIndex();

			});	
			$career_area.on("click",".delete",function(e){
				$(this).parents('.career-data-item').remove();
				

			});	
				
			$('#personTableForm').focus();

			$('#goIndex').bind(
					'click',
					function() {
						location.href = /*[[@{/menu}]]*/;
						$('#goIndex').prop('disabled', true);
					});

			$('#doRegist').bind(
					'click',
					function() {
						// if (confirm("登録してよろしいですか？")) {
							$('#personTableForm').attr("action",
								/*[[@{/authorization/person/doRegist}]]*/);
							$('#personTableForm').submit();
							$('#doRegist').prop('disabled', true);
						// }else{
							// doNothing
						// }
					});

		});
		/*]]>*/
	</script>
</body>
</html>
